<script src="/js/passwordRecovery.js"></script>

<div class="container login d-flex flex-column text-center">
    <h2>Cambiar Contraseña</h2><br>
    <form action="/passwordRecoveryChange" method="POST">
        <label for="newPassword" class="form-label">Contraseña nueva:</label><br>
        <input type="password" id="password" class="form-control" name="newPassword" required><br>
        <label for="repeatPassword" class="form-label">Repetir contraseña:</label><br>
        <input type="password" class="form-control" name="repeatPassword" id="repeatPassword" required><br><br>
        <button type="submit" id="submit" disabled class="btn btn-outline-secondary btn-large">Cambiar Contraseña</button><br>
    </form>
    <br>
    <a href="/login"><button type="button" class="btn btn-outline-secondary btn-large">Iniciar sesión</button></a>
</div>
