<div class="container login d-flex flex-column text-center">
    <h2>Recuperar Contraseña</h2><br>
    <p>Se ha enviado el link de recuperación a su correo.</p><br>
    <p>Si no aparece el email, recibe en la carpeta de "spam"</p>
    <a href="/login"><button type="button" class="btn btn-outline-secondary btn-large">Volver al inicio</button></a>
</div>
